<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <style>
        @page {
            size: A4;
            margin: 1in;
        }

        .section {
            page-break-after: always;
        }
    </style>
</head>

<body>
    <div class="section">
        {% include 'aggr_report_1.html' %}
    </div>
    <div class="section">
        {% include 'aggr_report_2.html' %}
    </div>
    {% if fl_user_tests >2 %}
    <div class="section">
        {% include 'aggr_report_3.html' %}
    </div>
    <div class="section">
        {% include 'aggr_report_4.html' %}
    </div>
    <div class="section">
        {% include 'aggr_report_5.html' %}
    </div>
    {% if agg_tech %}
    <div class="section">
        {% include 'aggr_report_6.html' %}
    </div>
    {% endif %}
    <div class="section">
        {% include 'aggr_report_7.html' %}
    </div>
    <div class="section">
        {% include 'aggr_report_8.html' %}
    </div>
    {% endif %}
    <div class="section">
        {% include 'aggr_report_9.html' %}
    </div>
    {% if qb_eli %}
    <div class="section">
        {% include 'aggr_report_10.html' %}
    </div>
    {% endif %}
    <div class="section">
        {% include 'aggr_report_11.html' %}
    </div>
    <div class="section">
        {% include 'aggr_report_12.html' %}
    </div>
</body>

</html>