{% extends 'email_base.html' %} {% block content %}

<p>Hi {{data['recipient_name']}},</p>
<p>
    Please use the following OTP to login to your account using your email address.
</p>
<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
    <tbody>
        <tr>
            <td align="left">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td>
                                <div><p>{{data['otp']}}</p></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<p>Good luck! Hope it works.</p>

{% endblock %}